/* line 1, src/style.scss */
body {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 300%;
}

/* line 8, src/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 14, src/style.scss */
article > section {
  padding: 2em;
}
/* line 17, src/style.scss */
article > section > div {
  width: 20em;
  margin: 0 auto;
  overflow: hidden;
}

/* line 25, src/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 30, src/style.scss */
h1 {
  font-weight: normal;
  text-align: right;
}

/* line 35, src/style.scss */
em {
  font-style: normal;
  text-shadow: 0 0 0.1em rgba(127, 127, 127, 0.5);
}

/* line 41, src/style.scss */
section p,
section ul {
  font-size: 65%;
  text-align: right;
  padding-top: 1em;
}

/* line 47, src/style.scss */
ul {
  list-style: none;
  text-align: right;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

/* line 54, src/style.scss */
img {
  width: 4em;
  display: inline-block;
  float: left;
  margin-right: 1ex;
}

/* line 61, src/style.scss */
.source {
  padding-top: 2ex;
  font-size: 50%;
  opacity: 0.6;
}

/* line 67, src/style.scss */
.banner {
  width: 100%;
}

/* line 71, src/style.scss */
.flag {
  background: #0b2864;
  color: #ffe77c;
}

/* line 76, src/style.scss */
.pedestrian {
  background: #ffe77c;
  color: #0b2864;
}

/* line 81, src/style.scss */
.casualties {
  background: #89a02c;
  color: #FFF;
}

/* line 86, src/style.scss */
.crown {
  background: #FF6633;
  color: #ffe77c;
}

/* line 91, src/style.scss */
.mort {
  background: #CC0000;
  color: #FFF;
}

/* line 96, src/style.scss */
.action {
  background: #0b2864;
  color: #ffcc00;
}
/* line 100, src/style.scss */
.action small p {
  padding-top: 1ex;
}

/* line 106, src/style.scss */
.pcf {
  background: #e6e6e6;
  color: #FFF;
  padding-top: 7em;
  padding-bottom: 7em;
}

/* line 113, src/style.scss */
.rlj {
  color: #C00;
}

/* line 117, src/style.scss */
.everybody {
  background: #56336a;
  color: #7FFFAA;
}

/* line 124, src/style.scss */
.important {
  font-weight: bold;
}

/* line 128, src/style.scss */
.sources {
  background: #666666;
  color: #CC9;
}
/* line 132, src/style.scss */
.sources img {
  width: 2em;
}
/* line 136, src/style.scss */
.sources li {
  padding: 1ex;
  border-radius: 0.75ex;
  font-size: 50%;
}
/* line 141, src/style.scss */
.sources li a {
  font-size: 200%;
  display: block;
  font-weight: bold;
}
/* line 149, src/style.scss */
.sources :target {
  background: #333;
  color: #DDA;
}

/* line 157, src/style.scss */
section:target {
  border-left: black solid 1em;
  border-right: black solid 1em;
}
