body {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 200%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article > section {
  padding: 2em;
}

  article > section > div {
    max-width: 20em;
    margin: 0 auto;
    overflow: hidden;
  }

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: normal;
  text-align: right;
}

em {
  font-style: normal;
  text-shadow: 0 0 0.1em rgba(127, 127, 127, 0.5);
}

section p,
section ul {
  font-size: 65%;
  text-align: right;
  padding-top: 1em;
}

ul {
  list-style: none;
  text-align: right;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

img {
  width: 4em;
  float: left;
  margin-right: 1ex;
}

.source {
  padding-top: 2ex;
  font-size: 50%;
  opacity: 0.6;
}

.banner {
  width: 100%;
}

.flag {
  background: #0b2864;
  color: #ffe77c;
}

.pedestrian {
  background: #ffe77c;
  color: #0b2864;
}

.casualties {
  background: #89a02c;
  color: #FFF;
}

.crown {
  background: #FF6633;
  color: #ffe77c;
}

.mort {
  background: #CC0000;
  color: #FFF;
}

.action {
  background: #0b2864;
  color: #ffcc00;
}

  .action small p {
    padding-top: 1ex;
  }

.pcf {
  background: #e6e6e6;
  color: #FFF;
  padding-top: 7em;
  padding-bottom: 7em;
}

.rlj {
  color: #C00;
}

.everybody {
  background: #56336a;
  color: #7FFFAA;
}

.carage {
  background: #ff7b67;
  color: #135;
}

.eightythree {
  background: #bfff11;
  color: #6a5414;
}

.important {
  font-weight: bold;
}

.sources {
  background: #666666;
  color: #CC9;
}

.sources img {
  width: 2em;
}

.sources li {
  padding: 1ex;
  border-radius: 0.75ex;
  font-size: 50%;
}

.sources li a {
  font-size: 200%;
  display: block;
  font-weight: bold;
}

.sources :target {
  background: #333;
  color: #DDA;
}

section:target {
  border-left: #000 solid 1em;
  border-right: #000 solid 1em;
}

@media (max-width: 1000px) {
  img {
    margin: 0;
  }
}
